.timeline-description > p {
  margin-left: 25px;
}
.event-container {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px;
}
.event-info {
  font-weight: bold;
}
.event-descriptions {
  padding-left: 10px;
}

.event-container .image-container {
  margin-left: 10px;
}

.event-container .event-action-container {
  text-align: right;
  margin-right: 20px;
  height: 2em;
}

#not_authorized {
  margin: 30px;
  width: 400px;
}
