<h1>Most recent timelines</h1>


<% @timelines.each do |timeline| %>
  <div>
    <h1><%= link_to timeline.name, timeline %>
  </div>
  <div>
    <p>
      timeline.description
    </p>
    
  </div>
<% end %>

<br />

<%= link_to 'New Timeline', new_timeline_path %>
